<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <title>Travel App</title>
    </head>

    <body onload="Client.updateUiWithRecentData()">
        <header>
        </header>
        <div id="content">
            <h1>Travel App</h1>
            <section id="tripInput">
                <h2> Whats your next trip? </h2>

                <form id="travelDataForm" onsubmit="return Client.saveNextTrip(event)">
                    <label for="city">The next trip is here:</label>
                    <input type="text" id="city" value="Ingolstadt"/>
                    <label for="travelStartDate">Departure:</label>
                    <input type="date" id="travelStartDate" value="2023-02-01"/>
                    <label for="travelEndDate">Return date:</label>
                    <input type="date" id="travelEndDate" value="2023-02-12"/>
                    <input type="submit" id="saveTravelData" onsubmit="return Client.saveNextTrip(event)"
                           onclick="return Client.saveNextTrip(event)" value="Save next trip!"/>
                </form>
            </section>

            <div id="nextTripContainer">
                <section id="nextTrip">
                    <h2>Your next Trip:</h2>
                    <img id="cityImage" src="some-dummy-url" alt="image of a city"/>
                    <p><span id="cityOutput"></span>, <span id="country"></span> is
                        <span id="countDown"></span> days away
                    </p>
                    <div id="travelDetails">
                        <p>Your trip starts at <span id="startOutput"></span>
                            and ends at: <span id="endOutput"></span>
                        </p>
                        <p>
                            Enjoy <span id="travelLength"> </span> days of vacation :)
                        </p>
                        <p>Temperature: <span id="temperatureOutput"></span></p>
                    </div>
                </section>
            </div>
        </div>

        <footer>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
